@import "theme";

.paper {
	width: 50%;
	border: 1px $secondary solid;
	border-radius: 5px;
	padding: 10px;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.document {
	border: 1px $dark solid;
	padding: 15px;
	width: 75%;
}
.editor {
	border: 1px $secondary solid;
	width: 25%;
}
