@import "theme";

.paper {
	width: 50%;
	border: 1px $secondary solid;
	border-radius: 5px;
	padding: 10px;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.document {
	// border: 1px rgba(0, 0, 0, 0.064) solid;
	// padding: 15px;
	width: 60%;
}
.editor {
	// border: 1px $secondary solid;
	width: 40%;
}
