html,
body {
	padding: 0;
	margin: 0;
	// font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	// 	Ubuntu, Cantaregrayll, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3 {
	word-wrap: break-word;
	font-weight: 400;
}
h1 {
	font-size: 45px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}

[contenteditable] {
	outline: 0px solid transparent;
	padding: 5px;
}
[contenteditable]:focus {
	background-color: rgba(1, 1, 1, 0.091);
	border-radius: 5px;
}
[contenteditable][placeholder]:empty:before {
	content: attr(placeholder);
	position: absolute;
	color: rgba(1, 1, 1, 0.427);
	background-color: transparent;
}
a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
